/* Texto Para Programadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
:root {
  --font: 'Inter', sans-serif;
  --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-accent: #0077ff;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.menu {
       display: flex;
       align-items: center;
      }
nav ul, nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
  background-color: #39aae1;
  border-radius: 10px;
  color: #ffffff;         
}
.container {
  width:990px;
  display:flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  }
#woman {
  display: flex;
  justify-content: center;
  background-image:url(../Assets/Mulher.jpg);
  background-position: center;
  background-size: cover;
  height: 670px;
}
.coluna {
  flex-direction: column;
}
.bannerhead {
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.bannerhead h1 {
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0px;
  padding: 0px;
}
.bannerhead h2 {
  color: #ffffff;
  font-size: 19px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0px;
  padding: 0px;
}
.banneroption {
 height: 210px;
}
