/*Texto Para Programadores*/
* {
   box-sizing: border-box;
  }
/* Asterisco *{} aplica todas as definições a todos os elementos do Css*/
body {
      margin: 0px;
     }
.exemplo {
          background-color: #006400;
          width: 80%;
          height: 100px;
         }
.texto {
        background-color: #534cb6;
        width: 160px;
        height: 100px;
        } 
.barra {
        background-color: #b66e4c;
        min-width: 200px;
        width: auto;
        height: 200px;
        }
.estudo {
         background-color: #771015;
         width: 400px;
         height: 400px;
         border: 5px solid #060653;
         padding: 10px;
         margin: 20px;
        }  
/*Quando você define Width e Height você está definindo o conteudo do elemento, logo, a div .estudo
contem um width e height total de 430 px devido aos 5px da borda, 10px do padding e 20px do margin*/  
