/*Texto Para Programadores*/
* {
   box-sizing: border-box;
  }
body {
      margin: 20px;
      border: 0px;
     }
fieldset {
          background-color: #eeeeee;
          margin-bottom: 10px;
          border: 2px solid #808080
         }
legend {
        background-color: #556b2f;
        color: #ffffff;
        padding: 8px;
       }
