/*Texto Para Programadores*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
:root{
      --bg-color: #7f6dc0;
      --bg-second: #7a7a7a;
      --font-color: #000000;
      --font-color2: #005704;
      --font-size-big: 26px;
      --font-size-small: 14px;
     }
body {
      margin: 20px;
      padding: 20px;
      border: 0px;
      background-color: var(--bg-second);
      font-size: var(--font-size-big);
     }
q,blockquote {
              color: #b1082a; 
              font-style: italic;
             }
