/*Texto Para Programadores*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
:root{
      --bg-color: #2603a7;
      --bg-second: #7a7a7a;
      --font-color: #ffffff;
      --font-color2: #005704;
      --font-size-big: 26px;
      --font-size-small: 14px;
     }
body {
      margin: 20px;
      border: 0px;
      background-color: #8b9300;
      font-size: var(--font-size-big);
     }
h1 {
    color: var(--font-color);
    text-shadow: 6px 6px 2px #000000;
   }
.sombras {
          background-color: #0e1bd1;
          width: 300px;
          height: 300px;
          margin-top: 100px;
          margin-left: 100px;
          box-shadow: 20px 18px 10px #000000;
          transition: all 4s linear;
         }
.sombras:hover {
                width:800px;
                background-color: #d904c7;
               }
.shadows {
          background-color: #472aa5;
          width: 300px;
          height: 300px;
          margin-top: 100px;
          margin-left: 100px;
          box-shadow: -20px -18px 30px #000000;
         }
.shadows:hover {
                width: 600px; 
                background-color: #32a52a;
               }
